<!doctype html>
<title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    LSST Image SODA Service</title>
<link rel=stylesheet type=text/css
      href="{{ url_for('api_image_soda.static', filename='style.css') }}">
<div vocab="http://www.ivoa.net/rdf/examples#">

    <div id="brect" resource="#brect" typeof="example">
    <p> Example 1: <h2 property="name">Synchronous Query by BRECT </h2>
        <a href="{{ url_dali_sync }}">
            Query by BRECT, pixel
        </a>
        <span property="capability">ivoa://ivoa.net/std/SODA#snc-1.0</span>
        <span property="generic-parameter" typeof="keyval">
            <span property="key">ID</span>
            <span property="value">DC_W13_Stripe82.calexp.r</span>
            <span property="key">POS</span>
            <span property="value">BRECT 37.644598 104625 100 100 pixel</span>
        </span>
    </div>

    <div id="circle" resource="#circle" typeof="example">
    <p> Example 2: <h2 property="name">Synchronous Query by CIRCLE </h2>
        <a href="{{ url_dali_sync }}">Query by CIRCLE</a>
        <span property="capability">ivoa://ivoa.net/std/SODA#snc-1.0</span>
        <span property="generic-parameter" typeof="keyval">
            <span property="key">ID</span>
            <span property="value">DC_W13_Stripe82.calexp.r</span>
            <span property="key">POS</span>
            <span property="value">CIRCLE 37.6444598 0.104625 100</span>
        </span>
    </div>

    <div id="range" resource="#range" typeof="example">
    <p> Example 3: <h2 property="name">Synchronous Query by RANGE</h2>
        <a href="{{ url_dali_sync }}">Query by RANGE </a>
        <span property="capability">ivoa://ivoa.net/std/SODA#snc-1.0</span>
        <span property="generic-parameter" typeof="keyval">
            <span property="key">ID</span>
            <span property="value">DC_W13_Stripe82.calexp.r</span>
            <span property="key">POS</span>
            <span property="value">RANGE 37.6168202222 37.67235778
                0.07684722222 0.13240277777</span>
        </span>
    </div>

    <div id="polygon" resource="#polygon" typeof="example">
    <p> Example 4: <h2 property="name">Synchronous Query by POLYGON</h2>
        <a href="{{ url_dali_sync }}">Query by POLYGON</a>
        <span property="capability">ivoa://ivoa.net/std/SODA#snc-1.0</span>
        <span property="generic-parameter" typeof="keyval">
            <span property="key">ID</span>
            <span property="value">DC_W13_Stripe82.calexp.r</span>
            <span property="key">POS</span>
            <span property="value"> POLYGON 37.6580803 0.0897081 37.6580803
                0.1217858 37.6186104 0.1006648</span>
        </span>
    </div>

</div>