*.o
*.so
*.os
*.pyc
*_wrap.cc
*Lib.py
*~
core.*
pytest_session.txt
.pytest_cache/
.sconf_temp
.sconsign.dblite
config.log
doc/doxygen.conf
doc/html
doc/xml
doc/*.tag
lib/libimgserv.*
python/lsst/__init__.pyc
python/lsst/dax/imgserv/_imgservLib.so
python/lsst/dax/imgserv/imgservLib.py
python/lsst/dax/imgserv/imgservLib_wrap.cc
python/lsst/dax/imgserv/imgservLib_wrap.os
python/lsst/dax/imgserv/utilsLib.py
ups/dax_imgserv.cfgc
.idea
_build.*
.cache/
.coverage
.dockerignore
imgserv.egg-info
kube
log/
build/
dist/
examples/
tests/pytest_session.txt
tests/.tests/
tests/__init__.pyc
tests/.pytest_cache/
**/__pycache__
dump.rdb