*.o
*.so
*.os
*.pyc
*_wrap.cc
*Lib.py
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
doc/doxygen.conf
doc/html
doc/xml
doc/*.tag
lib/libimgserv.*
python/lsst/__init__.pyc
python/lsst/dax/imgserv/_imgservLib.so
python/lsst/dax/imgserv/imgservLib.py
python/lsst/dax/imgserv/imgservLib_wrap.cc
python/lsst/dax/imgserv/imgservLib_wrap.os
python/lsst/dax/imgserv/utilsLib.py
ups/dax_imgserv.cfgc
.idea
_build.*
.cache/
tests/.tests
