*.o
*.so
*.os
*.pyc
*~
core.*
doc/doxygen.conf
doc/html
doc/xml
doc/*.tag
integration/scripts/out/*.fits
python/lsst/__init__.pyc
.idea
.cache/
tests/.tests
celeryd.pid
pytest_session.txt
.sconsign.dblite
config.log
.sconf_temp
*.cfgc
*_wrap.cc
*Lib.py

# Built by sconsUtils
version.py
bin/

# Pytest
.pytest_cache
.coverage
